<!doctype html5>
<html>
    <head>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <form action='/interface/' id = "form_upload" method='POST' enctype="multipart/form-data">
	        {% csrf_token %}
	        {% for field in problem %}
	            <tr><td>{{ field.label_tag  }}</td> <td>{{ field   }}</td></tr>
	        {% endfor %}
	        <tr><td>Solution:</td> <td><input type='file' name='solution'/></td></tr>
	        <p id = "para"> </p>
	        <tr><td><input  id = "file-submit" type='submit' value='Submit' /></td></tr>
    	</form>
    </body>
<script type="text/javascript">
    
    $(function() {
        $('#form_upload').submit(function(){
        	if ($.data(this, 'submitted')) return false;
            console.log("hello:P");
            var val =1;
            this.action += (this.action.indexOf('?') == -1 ? '?' : '&') + 'value=' + val;

            function connect(){

                $.getJSON('/interface/ajax/', {'value': val}, function(data, status){
                $("#para").text(data);
                val = data;
                });
                window.setTimeout(connect, 100);
            }  
        });

    }); 

</script>




</html>

